<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= render_content.title%></title>
	<link rel="stylesheet" href="/output/dist/css/work.css">
</head>
<body id="work">
	<div id="app" style="height:100%;"></div>

	<script type="text/javascript">
		const render_content = '<%= JSON.stringify(render_content)%>'
	</script>
	<script src="/output/dist/js/vendor.js"></script>
	<script src="/output/dist/js/work.js"></script>
</body>
</html>